; Topline contribution tracker config file
; Copy or Rename this file to config.ini and update values

[SCRAPER]
; URL for FNB login page
URL = https://www.fnb.co.za/

; Username and Password for FNB account. For security use only a read-only account.
; Update two lines below with username and password.
USERNAME = username
PASSWORD = password

; Driver to use. Either 'chrome' or 'firefox'.
; If using 'chromedriver' ensure path_to_driver below is correct.
; If using 'firefoxdriver' ensure driver is installed.
DRIVER = chrome

; Path to chromedriver executable. Enter absolute path if using chromedriver
DRIVER_PATH = C:/path/to/chromedriver/chromedriver.exe

[DB]
;name of database file
FILENAME = filename.db

[EXCEL]
;name of excel file
FILENAME = filename.xlsx

[loggers]
keys=root

[handlers]
keys=file_handler,stream_handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=file_handler,stream_handler

[handler_file_handler]
class=FileHandler
level=DEBUG
formatter=formatter
args=(__import__("datetime").datetime.now().strftime('logs/%%Y%%m%%d_%%H%%M%%S.log'), 'a')

[handler_stream_handler]
class=StreamHandler
level=WARNING
formatter=formatter
args=(sys.stderr,)

[formatter_formatter]
format=%(asctime)s %(module)-12s %(levelname)-8s %(message)s
